<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>MAP Web Report</title>
	<meta charset="utf-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  	<meta name="description" content=""/>
  	<meta name="author" content=""/>
  	<th:block th:include="fragment/myNavigation::header"></th:block>
</head>
<body class="sticky-footer sidenav-toggled bg-dark" id="page-top">
	<th:block th:include="fragment/myNavigation::myNavigation"></th:block>
	
	<div class="content-wrapper">
		<div class="container-fluid">

		</div>
	</div>
	
	<footer class="sticky-footer">
		<!-- Java Script Here -->
		<th:block th:include="fragment/myNavigation::footer"></th:block>
	</footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
	
</body>
</html>